@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(122, 122, 179);
}

main {
  max-width: 38rem;
  margin: 2.5rem auto;
  padding: 1.25rem;
  background-color: blanchedalmond;
  border: 1px snow;
}

#cidade {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
}

.cidade {
  width: 100%;
  padding: 0.625rem;
  cursor: pointer;
  background-color: rgb(255, 187, 0);
  border: 1px solid blue;
}

.cidade:hover {
  background-color: grey;
}

#previsao {
  margin-top: 1rem;
  background-color: azure;
}

.dia {
  padding: 0.625rem;
  border: 1px solid green;
}
